@{
    ViewBag.Title = "FAQs";
}
<h2>@ViewBag.Title.</h2>

<h3>Why can't I add an item?</h3>
<p>Check that all inputs are correct, if you have something wrong it wont let you </p>

<h3>How do I remove stock completely?</h3>
<p>There is only a soft delete, incase you get that item again in the future</p>

<h3>How do I see older stock?</h3>

<p>Using the seach you can check a variety of different information</p>

