@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div>
        <h3>Index</h3>
        <p>
            Change Items
        </p>
        <p>@Html.ActionLink("View Items", "Index", "Items", null, new { @class = "btn btn-primary btn-large" })</p>
    </div>

    <div>
        <h3>FAQ</h3>
        <p>
            Need help?
        </p>
        <p>@Html.ActionLink("FAQ", "About", "Home", null, new { @class = "btn btn-primary btn-large" })</p>
    </div>

    @*<div>
        <h3>FAQ</h3>
        <p>
            Need help?
        </p>
        <p>@Html.ActionLink("View Items", "Index", "Items", null, new { @class = "btn btn-primary btn-large" })</p>
    </div>
</div>*@